<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.presentacion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityRegistrarse" />
        <activity android:name=".ActivityAgregarAlojamiento" />
        <activity android:name=".ActivityEditarAlojamiento" />
        <activity android:name=".ActivityHacerMash" />
        <activity android:name=".ActivityReservasDeUsuario" />
        <activity android:name=".ActivityVerCompanero" />
        <activity android:name=".ActivityReservar"></activity>


        <activity android:name=".ActivityBuscarAlojamiento"></activity>
        <activity android:name=".ActivityinfoUsuariosMash"></activity>
        <activity android:name=".ActivityOfrecerMash"></activity>
        <activity android:name=".ActivityPerfilAnfitrion"></activity>
        <activity android:name=".ActivityRevisarReservaUsuario"></activity>
        <activity android:name=".ActivityVerAlojamientosAnfrition"></activity>
        <activity android:name=".ActivityVerUsuariosAnfrition"></activity>


        <activity android:name=".ActivityCalendaReserva"></activity>
        <activity android:name=".ActivityPerfilHuesped"></activity>
        <activity android:name=".ActivityRevisarAlojamiento"></activity>
        <activity android:name=".ActivityVerHospedaje"></activity>
        <activity android:name=".ActivityVerUsuario"></activity>


        <activity android:name=".ActivityAlojamientosCercanos" />
        <activity android:name=".ActivityCalendario" />
        <activity android:name=".ActivityCompaneros" />
        <activity android:name=".ActivityMostrarAlojamiento" />
        <activity android:name=".ActivityReservasPorAcepatar" />
        <activity android:name=".ActivityVerReserva" />



    </application>

</manifest>
