<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="javeriana.edu.co.easytrip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroPerfilActivity" />
        <activity android:name=".SubirFotoActivity" />
        <activity android:name=".RegistroHuespedActivity" />
        <activity android:name=".AlojamientoCercanoActivity" />
        <activity android:name=".MashHuespedActivity" />
        <activity android:name=".ReservasHuespedActivity" />
        <activity android:name=".PerfilHuespedActivity" />
        <activity
            android:name=".HomeHuespedActivity"
            android:label="@string/title_activity_home_huesped"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>