<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="javeriana.edu.co.easytrip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroPerfilActivity" />
        <activity android:name=".SubirFotoActivity" />
        <activity android:name=".RegistroHuespedActivity" />
        <activity android:name=".BuscarAlojamientoActivity" />
        <activity android:name=".PerfilHuespedActivity" />
        <activity
            android:name=".HomeHuespedActivity"
            android:label="@string/title_activity_home_huesped"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".VerAlojamientoActivity" />
        <activity android:name=".CalendarioReservarActivity" />
        <activity android:name=".VerMashActivity" />
        <activity
            android:name=".HomeAnfitrionActivity"
            android:label="@string/title_activity_home_anfitrion" />
        <activity android:name=".VerReservaActivity" />
        <activity android:name=".AddAlojamientoActivity" />
        <activity android:name=".ActivityCompaneros" />
        <activity android:name=".ActivityMatshes" />
        <activity android:name=".VerHuespedActivity" />
        <activity android:name=".EditarPerfilHuespedActivity" />
        <activity android:name=".EditarPerfilAnfitrionActivity" />
        <activity android:name=".PerfilAnfitrionActivity"></activity>
    </application>

</manifest>